.main
  position: relative
  transform: translateY(-123px)
  z-index: 0
.main-header
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(6,58,114,1) 100%)
  position: absolute
  top: 0
  width: 100%
  z-index: 5
  height: 123px
.main__slide
  background-size: contain
  height: 900px
  width: 100%
@media (max-width: 768px)
  .main
    height: 564px
@media (max-width: 576px)
  .main
    height: 800px