.main
  position: relative
  transform: translateY(-123px)
.main__slide
  background-size: contain
  height: 900px
  width: 100%
@media (max-width: 768px)
  .main
    height: 564px
@media (max-width: 576px)
  .main
    height: 800px